* {
  box-sizing: border-box;
}

.border-pulse {
  border-left: 2px solid #e2b714;
  animation: pulse 1.5s ease-in-out infinite;
}
.invisible-border {
  border-left: 2px solid #00000000;
}
@keyframes pulse {
  0% {
    border-color: #e2b714;
  }
  50% {
    border-color: #e2b51400;
  }
  100% {
    border-color: #e2b714;
  }
}
